@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin multi-ellipsis($lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
@mixin home-title {
  width: 100%;
  height: .8rem;
  margin-top: 1rem;
  margin-left: .3rem;
  line-height: .8rem;
  font-size: .4rem;
}
@mixin router-change {
  .slide-right-enter-active,
  .slide-right-leave-active,
  .slide-left-enter-active,
  .slide-left-leave-active {
    // will-change: transform;
    transition: all .5s;
    // position: absolute;
  }
  .slide-right-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  .slide-right-leave-active {
    opacity: 0;
    transform: translateX(100%);
  }
  .slide-left-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .slide-left-leave-active {
    opacity: 0;
    transform: translateX(-100%);
  }
}